<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form action="/add" method="POST">
        <label>name:</label>
        <input type="text" name="name" >
        <label>age:</label>
        <input type="text" name="age" >
        <label>job:</label>
        <input type="text" name="job" >
        <input type="submit" value="add">
    </form>
    <a href="/members">view</a>    
</body>
</html>