<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for( let index = 0; index < members.length ; index++ ) { %>
            <li>
                <h2><%= members[index].name %></h2> 
                <p><%= members[index].age %> </p>
            </li>
        <% } %>
    </ul>
</body>
</html>